.list {
    margin-top: 10px;
    background: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);

    font-size: 14px;
}

.list__item {
    padding: 10px;
    border-bottom: 1px solid #ededed;
    cursor: pointer;
}

.list__item:hover{
    background-color: lightyellow;
}
