.task {
    min-height: 16px;
}

.task_done {
    text-decoration: line-through;
    color: lightgray;
}

.task_todo {

}

.task__status {
    float: left;
    width: 18px;
    height: 18px;
    border: 1px solid;
    border-radius: 18px;
    margin-right: 10px;
    text-align: center;
    color: lightgrey;
}

.task__input {
    width: 320px;
    font-size: 14px;
    border: none;
    padding: 0;

    background-color: transparent;
}

.task__input:focus{
    outline: none;
}

.task_done .task__status {
     color: lightgreen;
 }

.task_done .task__status::after {
    content: "\2713"; /*✓ CHECK MARK*/
}

.task__delete-button {
    float: right;
    color: red;
    visibility: hidden;
}

.task:hover .task__delete-button {
    visibility: visible;
}