


<div ng-controller="SpendingsController">

    <div class="source-filters">
        <select ng-options="filter.name for filter in sourceFilters" ng-model="selectedSourceFilter"></select>
    </div>

    <div class="spendings-list">
        <h3>Всего расходов: {{ sumSpendings() }} руб.</h3>
        <div class="spending-item" ng-repeat="spending in spendingsByCategory" ng-show="spending.spendings.length">
                <div class="category-container">
                    <div class="spending-category-block">
                        <div><b>{{spending.category.name}}</b></div>
                        <div class="unfold-history" ng-click="toggleSelectedSpendingCategory(spending.category)">
                            {{ spending.sumCost*100/sumSpendings() | number:0}}% :{{spending.sumCost}} руб.
                        </div>
                    </div>

                </div>
                <div ng-repeat="spendingItem in spending.spendings" ng-show="selectedSpendingCategory === spending.category">
                    <p><b>{{ spendingItem.name }}</b> - {{ spendingItem.cost }} руб.</p>
                    <p>{{ spendingItem.source.type }}  {{spendingItem.source.name }} {{spendingItem.source.number }}</p>
                </div>
        </div>
    </div>

    <div class="spendings-graph-container">
        <canvas id="myChart"></canvas>
    </div>


    <div><button class="add-spending__button" ng-click="showSpendingForm()">Добавить новый расход</button></div>

    <div class="new-spending-container" ng-show="newSpending === true">
        <form name="newSpendingForm" role="form" ng-submit="addSpending()" novalidate>
            <!--  Spending Form -->
            <h4>Добавьте новый расход:</h4>
            <fieldset class="form-group" >
                <label for="name">Название</label>
                <input ng-model="spending.name" class="form-control" id="name" title="Название" required/>
            </fieldset>

            <fieldset>
                <label for="category">Категория</label>
                <select ng-model="spending.category" class="form-control"  id="category"
                        ng-options="category.name for category in categories" title="Категория" required>
                </select>
            </fieldset>

           <!-- <fieldset>
                <label for="subcategory">Подкатегория</label>
                <select ng-model="spending.category" class="form-control"  id="subcategory"
                        ng-options="subcategory.name for subcategory in getSubCategories(selectedCategory)" title="Подкатегория">
                    <option value="">Выберите существующую подкатегорию или добавьте новую:</option>
                </select>
            </fieldset>-->

            <fieldset class="form-group">
                <label for="cost">Стоимость</label>
                <input type="number" ng-model="spending.cost" class="form-control" id="cost" title="Стоимость" required/>
            </fieldset>

            <fieldset>
                <label for="source">Источник</label>
                <select ng-model="spending.source" class="form-control" id="source"
                        ng-options="(source.type + ' ' + source.number) for source in sources track by source.id" title="Источник" required>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label for="date">Дата совершения</label>
                <input type="date" ng-model="spending.date" class="form-control" id="date" title="Дата совершения" required/>
            </fieldset>

            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Добавить расход" />
            </fieldset>
        </form>
    </div>
</div>