<div ng-controller="SpendingsController">

    <div class="filters">
        <div class="date-filters">
            <input type="date" ng-model="selectedStartDate">
            <input type="date" ng-model="selectedEndDate">
        </div>

        <div class="source-filters">
            <select ng-options="filter.name for filter in sourceFilters" ng-model="selectedSourceFilter"></select>
        </div>
    </div>

    <div class="add-button-container">
        <button class="add-button" ng-click="toggleSpendingForm()">Добавить новый расход</button>
    </div>

    <div class="items-list">
        <div>Всего за период: {{ sumSpendings }} руб.</div>
        <div ng-repeat=" item in filteredByCategory" >
            <div class="item-container">
                <div class="item-block">
                    <div><b>{{item.category.name}}</b></div>
                    <div class="unfold-history" ng-click="toggleSelectedCategory(item.category)">
                        {{ item.sumCost*100/sumSpendings | number:0}}% :{{item.sumCost}} руб.
                    </div>
                </div>

            </div>
            <div ng-repeat="spendingItem in item.spendings" ng-show="selectedCategory === item.category">
                <p><b>{{ spendingItem.name }}</b> - {{ spendingItem.cost }} руб,   {{ spendingItem.date | date }}</p>
                <p>{{ spendingItem.source.type }}  {{spendingItem.source.name }} {{spendingItem.source.number }}</p>
            </div>
        </div>

    </div>

    <div class="spendings-graph-container">
        <canvas id="spendingsChart"></canvas>
    </div>

    <div class="new-item-container" ng-show="newSpending === true">
        <form name="newSpendingForm" role="form" ng-submit="addSpending()">
            <!--  Spending Form -->
            <h4>Добавьте новый расход:</h4>
            <fieldset class="form-group" >
                <label for="name">Название</label>
                <input ng-model="spending.name" class="form-control" id="name" title="Название" required/>
            </fieldset>

            <fieldset class="form-group">
                <label for="category">Категория</label>
                <select ng-model="spending.category" class="form-control"  id="category"
                        ng-options="category.name for category in categories" title="Категория" required>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label for="cost">Стоимость</label>
                <input type="number" ng-model="spending.cost" class="form-control" id="cost" title="Стоимость" required/>
            </fieldset>

            <fieldset class="form-group">
                <label for="source">Источник</label>
                <select ng-model="spending.source" class="form-control" id="source"
                        ng-options="(source.type + ' ' + source.number) for source in sources track by source.id" title="Источник" required>
                </select>
            </fieldset>

            <fieldset class="form-group">
                <label for="date">Дата совершения</label>
                <input type="date" ng-model="spending.date" class="form-control" id="date" title="Дата совершения" required/>
            </fieldset>

            <fieldset>
                <button class="btn btn-primary pull-left" ng-click="toggleSpendingForm()">Отмена</button>
                <input type="submit" class="btn btn-primary pull-right" value="Добавить расход" />
            </fieldset>
        </form>
    </div>
</div>