body div{
    margin:10px;
}

.app-container {
    width: 900px;
    margin-left: auto;
    margin-right:auto;
    background-color: whitesmoke;
    border:1px solid slategrey;
    border-radius: 5px;
}

.page-header{
    text-align: center;
}

.nav-buttons {
    text-align: center;
}
.nav-buttons div{
    display: inline-block;
    cursor: pointer;
}
.nav-buttons div.active {
    background-color: lightgreen;
    text:white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.new-item-container{
    border:1px solid grey;
    width:50%;
    border-radius: 5px;
    background-color: #f5e79e;
    padding: 10px;
}

.filters{
    width:50%;
    display: inline-block;
}

.add-button-container{
    width:40%;
    display: inline-block;
    text-align: center;
}

.add-button {
    background-color: lightgreen;
    padding: 10px;
}

.unfold-history{
    float: right;
    cursor: pointer;
}

.item-block div{
    display: inline-block;
}

.items-list{
    width: 50%;
    display: inline-block;
    padding:2px;
    background-color: white;
    border-radius: 2px;
    min-height: 200px;
}

.spendings-graph-container, .sources-graph-container{
    float:right;
    width:40%;
    padding-top:20px;
    display: inline-block;
    object-fit: contain;


}

#spendingsChart, #sourcesChart {
    width: 100%;
    height: 100%;
}

