<section>
    <!--  Tab Navigation  -->
    <div class="nav-buttons">
        <div ng-class="{ active:tab.isSet(0) }" ng-click="tab.setTab(0)">
            Расходы
        </div>
        <div ng-class="{ active:tab.isSet(1) }" ng-click="tab.setTab(1)">
            Доступные средства
        </div>
        <div ng-class="{ active:tab.isSet(2) }" ng-click="tab.setTab(2)">
            Календарь
        </div>
    </div>

    <spendings ng-if="tab.isSet(0)"></spendings>

    <balance ng-if="tab.isSet(1)"></balance>

    <calendar ng-if="tab.isSet(2)"></calendar>
</section>